
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    max-width: 70%;
    border: red 2px solid;
}

.shown-countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Africa {
    color: blue;
}

.Americas {
    color: darkseagreen;
}

.Asia {
    color: crimson;
}

.Europe {
    color: goldenrod;
}

.Oceania {
    color: blueviolet;
}
